<footer>
  <p>
    &copy; <a href="https://github.com/oventi/danta">danta</a> by
    <a href="https://oventi.org">oventi</a>,
    design by <a href="https://versaleta.com">versaleta</a>
  </p>
  <p>Icons made by
    <a href="https://www.freepik.com" title="Freepik">Freepik</a>,
    <a href="https://www.flaticon.com/authors/pongsakornred" title="pongsakornRed">pongsakornRed</a>
    from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
  </p>
</footer>
